<div class="flex flex-col  bg-card shadow rounded overflow-hidden">
    <div class="p-8 pb-4" [formGroup]="lessonForm">
        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Title</span>
            <mat-form-field class="fuse-mat-dense flex-auto">
                <input matInput [formControlName]="'title'" placeholder="Add course title" maxlength="255">
                <mat-error *ngIf="lessonForm.controls.title.hasError('required')">
                    Title required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Subtitle</span>
            <mat-form-field class="fuse-mat-dense flex-auto">
                <input matInput [formControlName]="'subtitle'" maxlength="255"
                       placeholder="Add course subtitle">
                <mat-error *ngIf="lessonForm.controls.subtitle.hasError('required')">
                    subtitle is required
                </mat-error>

            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
                            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4
                            gt-xs:mb-0">Description</span>
            <mat-form-field class="fuse-mat-dense flex-auto">
                <textarea matInput [formControlName]="'description'" [rows]="3"
                          placeholder="Ajouter la description de cours"></textarea>
                <mat-error *ngIf="lessonForm.controls.description.hasError('required')">
                    Description est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Step</span>
            <mat-form-field class="fuse-mat-dense flex-auto">
                <mat-select [value]="'Choose the step'" [formControlName]="'step'">
                    <mat-option [value]="'Choose the step'">Choose the step</mat-option>
                    <ng-container *ngIf="(steps$ | async) as steps">
                        <ng-container *ngIf="steps.length > 0">
                            <ng-container *ngFor="let step of steps; trackBy: trackByFn">
                                <mat-option [value]="step.id">{{step.title}}</mat-option>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </mat-select>

            </mat-form-field>
        </div>
    </div>
</div>
