<div class="flex flex-col flex-auto mt-8 bg-card shadow rounded overflow-hidden" [formGroup]="lessonForm">
    <div class="p-8 bg-gray-50 dark:bg-gray-700">
        <p class="text-lg font-medium">Fichier</p>
        <p class="text-secondary">Veuillez ajouter la photo de couverture</p>
    </div>
    <mat-divider></mat-divider>
    {{lessonForm.value |json}}
    <div class="p-8 pb-4">
        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Cover upload</span>
            <div>
                <input
                    id="image-file-input"
                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                    type="file"
                    [accept]="'image/jpeg, image/png'"
                    (change)="uploadImage(imageFileInput.files)"
                    #imageFileInput>
                <label
                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                    for="image-file-input"
                    matRipple>
                    <mat-icon [svgIcon]="'heroicons_outline:photograph'"></mat-icon>
                </label>
                <mat-error *ngIf="lessonForm.controls.coverFile.hasError('required')">
                    Picture required
                </mat-error>

            </div>
        </div>
    </div>
    <div class="p-8 pb-4">
        <div class="flex flex-col gt-xs:flex-row gt-xs:items-baseline">
            <span class="font-semibold mb-1 gt-xs:text-right gt-xs:min-w-32 gt-xs:mr-4 gt-xs:mb-0">Video upload</span>
            <div>
                <input
                    id="video-file-input"
                    class="absolute h-0 w-0 opacity-0  pointer-events-none"
                    type="file"
                    [accept]="'video/mp4'"

                    (change)="uploadVideo($event)"
                    #videoFileInput>
                <label
                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                    for="video-file-input"
                    matRipple>
                    <mat-icon [svgIcon]="'heroicons_outline:photograph'"></mat-icon>
                </label>
                <mat-error *ngIf="lessonForm.controls.videoFile.hasError('required')">
                    Video required
                </mat-error>

            </div>
        </div>
    </div>
</div>
